a{
	color: #000000;
    text-decoration: none;
}
a:hover{
	text-decoration: none;
	text-shadow: 2px 2px 8px #9c9fa3;
	color: #000000
}
.content{
	text-overflow: ellipsis;
	overflow-wrap: break-word;
}